body {
  font-size: 16px;
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Index.html CSS */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

#home {
  margin-top: 10%;
  text-align: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 4s ease-in forwards;
  -webkit-animation: fadeIn 4s ease-in forwards;
  -moz-animation: fadeIn 4s ease-in forwards;
  -o-animation: fadeIn 4s ease-in forwards;
  -ms-animation: fadeIn 4s ease-in forwards;
  animation-delay: calc(var(--order) * 1s);
}

.hello {
  display: inline-block;
  font-size: 6rem;
}
.intro {
  display: inline-block;
  font-size: 4rem;
}
.welcome {
  display: inline-block;
  font-size: 3rem;
}

/* About.html CSS */
h2 {
  font-size: 3rem;
}

#category-text {
  font-size: 1.5rem;
}
#category-text > ul {
  font-size: 1rem;
}

/* Projects.html CSS */
.carousel-caption {
  background-color: #0a0a0a;
}

#cardCarousel {
  display: none;
}

/* Anything smaller than a 768px displays card carousel instead of image */
@media (max-width: 767px) {
  #imgCarousel {
    display: none;
  }
  #cardCarousel {
    display: block;
  }
}

/* Contact.html CSS */
#contact-section {
  width: 450px;
  height: 500px;
}
/* Keyframes for animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  70%,
  100% {
    opacity: 1;
  }
}

/* Browser Specific CSS */
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  70%,
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  70%,
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  70%,
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  70%,
  100% {
    opacity: 1;
  }
}
